{% if(companies) %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company</th>
        </tr>
        </thead>

        <tbody>
        {% for comp in companies %}
            <tr>
                <td>{{ comp.getId() }}</td>
                <td>{{ comp.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}