<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- BOOTSTRAP STYLE -->
        <link href="{{ asset('public/bootstrap_3.3.7/css/bootstrap.css') }}" rel="stylesheet">
        <!-- SIDEBAR  STYLE -->
        <link href="{{ asset('public/css/sidebar.css') }}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

    <!-- SIDEBAR -->
    {% block nav_sidebar %}
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Ticket System</h3>
                <strong>TS</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog"></i>
                        Administrator Panel
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="{{ path('user_form') }}">Create Users</a></li>
                        <li><a href="{{ path('roles_create') }}">Create Roles</a></li>
                        <li><a href="#">Users Reports</a></li>
                    </ul>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Companies
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="{{ path('company_create') }}">Create Company</a></li>
                        <li><a href="#">Companies Reports</a></li>
                    </ul>

                    <a href="#ticketSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Tickets
                    </a>
                    <ul class="collapse list-unstyled" id="ticketSubmenu">
                        <li><a href="{{ path('ticket_open') }}">Open Ticket</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Who is loggin</a></li>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                <li><a href="{{ path('logout_app') }}">Logout</a></li>

                            {% else %}

                                <li><a href="{{ path('login') }}">Login</a></li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block page_header %}
                <div class="page-header">
                    <h2>{{ page_header_title }} | <small> {{ page_header_subtitle }}</small></h2>
                </div>
            {% endblock %}

            <!-- BODY -->
            {% block body %}
                Base Template
            {% endblock %}

        </div>
    </div> <!-- END WRAPEER -->
    {% endblock %}


<!-- JAVASCRIPT-->
{% block javascripts %}
    <!-- JQUERY -->
    <script src="{{ asset('public/jquery3.3.1/jquery-3.3.1.min.js') }}"></script>
    <!-- BOOTSTRAP-->
    <script src="{{ asset('public/bootstrap_3.3.7/js/bootstrap.min.js') }}"></script>
    <!-- SIDEBAR -->
    <script src="{{ asset('public/js/sidebar.js') }}"></script>
{% endblock %}

</body>
</html>
