
{% if(roles) %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Role</th>
        </tr>
        </thead>

        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.role }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}