{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <form method="POST">
                {{ form_row(form._token) }}
                <div class="row">
                    <div class="col-sm-3">
                        {{ form_label(form.role) }}
                        {{ form_widget(form.role) }}
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="Create"
                               class="btn btn-primary pull-left"/>

                        <input type="reset" value="Cancel"
                               class="btn btn-danger pull-left"/>
                    </div>
                </div>

                <br>

            </form>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    {# Include Roles #}
                    {% include '@App/roles/all.html.twig'
                    with {
                    'roles': roles
                    } only
                    %}
                </div>
            </div>
        </div>

    {% endblock %}