{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <form method="POST">
            {{ form_row(form._token) }}
            <div class="row">
                <div class="col-sm-3">
                    <label>Subject:</label>
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-sm-3">
                    <label>Creation Date:</label>
                    {{ form_widget(form.creationDate) }}
                </div>

                <div class="col-sm-6">
                    <label>Description:</label>
                    {{ form_widget(form.description) }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-4">
                    <label>User:</label>
                    {{ form_widget(form.user, {'attr': {'class': 'form-control', 'name': 'user_id'}}) }}
                </div>

                <div class="col-sm-4">
                    <label>Company:</label>
                    {{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-sm-4">
                    <label>Status:</label>
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-sm-4">
                    <input type="submit" value="Create"
                           class="btn btn-primary pull-left" name="save"/>

                    <input type="reset" value="Cancel"
                           class="btn btn-danger pull-left"/>
                </div>
            </div>

            <br>

        </form>
    </div>
{% endblock %}