{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <form method="POST">
            {{ form_row(form._token) }}
            <div class="row">
                <div class="col-sm-3">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="col-sm-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-3">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="col-sm-3">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <hr>
                    {{ form_label(form.company) }}
                    {{ form_widget(form.company) }}
                </div>
                <div class="col-sm-3">
                    <hr>
                    <label>Roles:</label>
                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" value="Create"
                           class="btn btn-primary pull-left"/>

                    <input type="reset" value="Cancel"
                           class="btn btn-danger pull-left"/>
                </div>
            </div>

        </form>
    </div>
{% endblock %}